<html>
  <head>
    <title>Blog Detail</title>
    <link rel="stylesheet" href="/public/css/blog.css" />
    <link rel="stylesheet" href="/public/css/style.css" />
  </head>
  <body>
    <nav>
      <div class="nav-left">
        <ul>
          <li>
            <img src="/public/images/logo.png" alt="dumbways_logo" />
          </li>
          <li>
            <a class="active" href="index">Home</a>
          </li>
          <li>
            <a href="#">Blog</a>
          </li>
        </ul>
      </div>
      <div class="nav-right">
        <a href="contact">Contact</a>
      </div>
    </nav>

    {{.Id}}
    <div class="blog-detail">
      <div class="blog-detail-container">
        <h1>{{.Title}}</h1>
        <div class="author">12 Jul 2021 22:30 WIB | Ichsan Emrald Alamsyah</div>
        <img src="/public/images/blog-img-detail.png" alt="blog_detail" />
        <p>{{.Content}}</p>
      </div>
    </div>
  </body>
</html>
