<html>
  <head>
    <title>Contact Me</title>
    <link rel="stylesheet" href="public/css/contact.css" />
    <link rel="stylesheet" href="public/css/style.css" />
  </head>

  <body>
    <nav>
      <div class="nav-left">
        <ul>
          <li>
            <img src="public/images/logo.png" alt="dumbways_logo" />
          </li>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="blog">Blog</a>
          </li>
        </ul>
      </div>
      <div class="nav-right">
        <a href="contact">Contact</a>
      </div>
    </nav>
    <form>
      <div>
        <label for="input-name">Name</label>
        <input id="input-name" height="100" type="text" required />
      </div>

      <div>
        <label for="input-email">Email</label>
        <input id="input-email" type="email" required />
      </div>

      <div>
        <label for="input-phone">Phone Number</label>
        <input id="input-phone" type="number" required />
      </div>

      <div>
        <label for="input-subject">Subject</label>
        <select id="input-subject">
          <option value="" hidden>Select</option>
          <option>Frontend</option>
          <option>Backend</option>
          <option>Fullstack</option>
        </select>
      </div>

      <div>
        <label for="input-message">Your Messages</label>
        <textarea id="input-message" rows="5" cols="10"></textarea>
      </div>

      <div>
        <button type="button" onclick="submitData()">Submit</button>
      </div>
    </form>
    <script src="public/js/contact.js"></script>
  </body>
</html>
